<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit form</title>
</head>
<body>
    <h3>Edit listing</h3>
    <h4>Listing ID: <%= listing._id %></h4>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="title" value="<%= listing.title %>" type="text">
        <br>
        <textarea name="description" <%= listing.description %> ></textarea>
        <br>
        <input name="image" value="<%= listing.image %>" type="text">
        <br>
        <input name="price" value="<%= listing.price %>" type="number">
        <br>
        <input name="location" value="<%= listing.location %>" type="text">
        <br>
        <input name="country" value="<%= listing.country %>" type="text">
        <br> 
        <button>Submit</button>
    </form>
</body>
</html>